@using Sitecore.Mvc
@using Sitecore.Demo.Platform.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Demo.Platform.Feature.ExperienceAccelerator.Models.TestimonialModel

<div class="component testimonial testimonial col-sm-12">
	<div class="component-content">
		@if (Model.Item == null)
		{
			if (Sitecore.Context.PageMode.IsExperienceEditor)
			{
				<p>[Testimonial: select a datasource]</p>
			}
			return;
		}

		<section class="section-block">
			@using (Html.BeginEditFrame(Model.Item.ID.ToString(), "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Default"))
			{
				<div class="section-heading">@Html.Sitecore().Field("Eyebrow", Model.Item)</div>
				<p class="section-sub">@Html.Sitecore().Field("Title", Model.Item)</p>
			}
			<div class="testimonial-grid">
				@foreach (var card in Model.Cards)
				{
					using (Html.BeginEditFrame(card.Item.ID.ToString(), "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Default"))
					{
						<div class="testimonial-card">
							<p class="testimonial-quote">@Html.Sitecore().Field("Quote", card.Item)</p>
							<div class="testimonial-person">
								<div class="avatar">@Html.Sitecore().Field("Initials", card.Item)</div>
								<div>
									<div class="person-name">@Html.Sitecore().Field("Name", card.Item)</div>
									<div class="person-role">@Html.Sitecore().Field("Role", card.Item)</div>
								</div>
							</div>
						</div>
					}
				}
			</div>
		</section>
	</div>
</div>
